* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #CCCCCC;
  font-size: 16px;
}

#foto {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

h1 {
  color: white;
  font-size: 48px;
  font-family: Roboto, sans-serif;
  text-align: center;
  text-decoration: underline;
}

.text-style {
  color: #203441;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-left: 45px;
  list-style-position: inside;
}

.meus-links {
  list-style-type: none;
  margin-left: 10px;
}

h3 {
  color: #0c4d75;
  padding: 25px 15px;
  font-size: 36px;
}

em {
  color: #0176a0;
}

.imagem-links {
  height: 30px;
}

.indice {
  display: inline-block;
  margin-top: 5px;
  margin-left: 25px;
}

div {
  margin: 15px 25px;
}

.div-nome {
  background-color: #0c4d75;
  border-radius: 10px;
}

.div-sobre-foto {
  display: inline-block;
  text-align: justify;
  margin: 0px;
}

.div-sobre{
  display: inline-block;
  position: relative;
  width: 50%;
}

.div-foto {
  background-color: #0c4d75;
  border-radius: 10px;
  float: right;
  padding: 4px;
  width: 16em;
}

#hab li:nth-child(2n+1) {
  font-style: italic;
}

#links a:hover {
  font-weight: bold;
}

.text-style a:visited {
  color: #0c4d75;
}